.my-header{
    background-color: #FFFBF0;
}

.my-header img{
    width: 65%;
    background-color: #FFFBF0;
}

.my-nav-bar{
    background-color: #FFFBF0;
    padding-top: 30px;
}

.ladies-jacket img{
    width: 350px;
    height: 450px;
    margin: 20px auto;
    background-color: lightgray;
    padding: 20px;
    border-radius: 20px;
}

.ladies-jacket{
    border-radius: 20px;
    border: none;
}

.ladies-jacket-footer{
    background-color: white;
    border: none;
    border-radius: 20px;
}
.last-card img{
    width: 80%;
    padding-left: 20px;
}

.last-card-main-div{
    border: none;
    border-radius: 15px;
}

.last-section{
    margin-top: 150px;
}

